body {
    margin: 0;
    padding: 0;
    background-image: url('img/foodBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

.marker {
    background-image: url('mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }