.follow-text{
    font-size: 12px;
    line-height: normal;
    color: #b5b5b5;
}
.status-text{
    font-size: 12px;
}
.author-font{
    font-weight: 580;
    color: rgba(41, 41, 41, 1);
    font-size: 14px;
    line-height: 16px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
