<div class="container mt-1">
    <div class="jumbotron py-3" style="background-color: #353b48">
      <div class="row">
        <div class="input-group col-12">
          <span class="input-group-append bg-primary">
            <button class="btn btn-outline-secondary" type="button">
              <i class="bi bi-search" style="color: white"></i>
            </button>
          </span>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="search"
            (ngModelChange)='searchChanged.next($event)'
          />
        </div>
      </div>
    </div>
</div>
<div class="container">
    <p *ngIf="search==''" class="mt-4 mx-4"><b>Showing Restaurants near {{subZone}}</b></p>
    <p *ngIf="search!=''" class="mt-4 mx-4"><b>You searched for: "{{search}}"</b></p>
</div>
<div class="container  list-results" style="height:65vh;"
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50"
(scrolled)="onScroll()"
[scrollWindow]="false"
>
    <div class="row">
      <div
        class="col-md-4 d-flex align-items-stretch"
        *ngFor="let restaurant of data"
      >
        <!-- <div class="col-md-3"> -->
        <div class="card mb-3">
          <img
            class="card-img-top"
            appLazyLoad
            [src]="restaurant.restaurant.featured_image"
            onerror="this.src='/assets/img/image-not-found.jpg'"
            alt="Featured image from {{restaurant.restaurant.name}}" height="200px"
          />
          <div class="card-body">
            <h5 class="card-title">{{restaurant.restaurant.name}}</h5>
            <p class="card-text">
              <small
                ><strong>Cuisines:</strong>
                {{restaurant.restaurant.cuisines}}</small
              >
            </p>
            <p class="card-text">
              <small
                ><strong>Address: </strong>
                {{restaurant.restaurant.location.address}}</small
              >
            </p>
            <p class="card-text">
              <small
                ><strong>Rating: </strong>
                {{restaurant.restaurant.user_rating.aggregate_rating}}</small
              >
            </p>
            <a href="{{restaurant.restaurant.url}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">See more details</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-5">
        <div class="col-md-12 p-3">
        <ngx-spinner
        bdOpacity = 0.9
        bdColor = ""
        size = "default"
        color = "#581f87"
        type = "ball-pulse-sync"
        [fullScreen] = "false"
        >
        </ngx-spinner>
      </div>
    </div>
</div>
