.text-font{
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.middle-align{
    position: absolute;
    top: 10%;
    left: 10%;
}

.author-font{
    font-weight: 580;
    color: rgba(41, 41, 41, 1);
    font-size: 14px;
    line-height: 16px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.col-height{
    height: 78vh;
    margin: 0 auto;
    overflow: hidden;
}
.col-height:hover{
    overflow-y: scroll;
}