<div class="container">
  <div class="row">
    <div class="col-md-11 mx-auto">
      <div *ngIf="!blogDeleted && blogFound" class="card shadow my-4 border-0">
        <div class="row">
          <div class="col-md-5 content">
            <img
              src="{{ blogImageBaseURL + blog.image_url }}"
              class="img-fluid"
              alt="..."
            />
          </div>
          <div class="col-md-7">
            <div class="card-body text-font-family">
              <!-- <div class="float-right">
                <button class="btn btn-raised btn-info mt-5 mr-3">
                  <i class="bi bi-pencil"></i>
                </button>
                <button
                  class="btn btn-raised btn-danger mt-5"
                  (click)="delete()">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div> -->
              <h3 class="card-title" id="title">{{ blog.title }} 
                <a class="btn btn-danger float-right mr-3" (click)="delete()" style="font-size: small;">                 
                  <i class="bi bi-trash"></i>
               </a>
                <a class="btn btn-info mr-3 float-right" [routerLink]="['/myblogs/editBlog',blog._id]" style="font-size: small;">                 
                   <i class="bi bi-pencil"></i>
                </a>
              </h3>
              <h6 class="card-subtitle mb-2 text-muted" id="subtitle">
                {{ blog.subtitle }}
              </h6>
              <p class="text-right text-muted">- {{ blog.author.name }}</p>
              <p class="text-left text-muted">
                {{ blog.publishInfo?.publishTime | date: "medium" }}
              </p>
              <br />
              <h5>Summary :</h5>
              <p class="card-text">{{ blog.summary }}</p>
              <h5>Description :</h5>
              <div class="overflowTest">
                <span *ngIf="isReadMore">{{ blog.description | readLessMore:250}}</span>
                <span *ngIf="!isReadMore">{{ blog.description}}</span>
                &nbsp;<button type="button" class="btn btn-link" (click)="showText()">
                  {{ isReadMore ? 'Read More': 'Read Less' }}
                </button>              
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-6">
                  <h4>
                    <button
                      type="button"
                      class="btn btn-success bmd-btn-fab active"
                    >
                      <i class="bi bi-hand-thumbs-up-fill"></i>
                    </button>
                    :{{ blog.likedBy.length }}
                  </h4>
                </div>
                <div class="col-6">
                  <h4>
                    <button
                      type="button"
                      class="btn btn-danger bmd-btn-fab active"
                    >
                      <i class="bi bi-hand-thumbs-down-fill"></i>
                    </button>
                    : {{ blog.dislikedBy.length }}
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!blogFound" class="jumbotron text-center text-primary">
        <p>Oops! No such blog found. The blog may have been deleted or you have typed an invalid URL.</p>
      </div>
      <div *ngIf="blogDeleted" class="jumbotron text-center text-primary">
          <p>Your blog has been deleted successfully!</p>
      </div>
    </div>
  </div>
</div>
