/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

body{
    margin: 0;
    background-image: url('/assets/img/foodBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}