<div class="card mx-auto" style="width: 600px;">
    <div class="card-body">
        <h3>Try something new?</h3>
        <form #f="ngForm" (ngSubmit)="submitBlogData(f.value)">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" [(ngModel)]="title" name="title">
            </div>
            <div class="form-group">
                <label for="subtitle">Subtitle</label>
                <input type="text" class="form-control" id="subtitle" [(ngModel)]="subtitle" name="subtitle">
            </div>
            <div class="form-group">
                <label for="summary">Summary</label>
                <textarea class="form-control md-textarea-auto" id="summary" [(ngModel)]="summary" name="summary" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control md-textarea-auto" id="description" [(ngModel)]="description" name="description" rows="10"></textarea>
            </div>
            <button class="btn btn-block btn-raised btn-success">Post</button>
        </form>
    </div>
    <div [hidden]="!blogCreated" class="form-group">
        <label for="imageUrl">Image Url</label>
        <input type="text" class="form-control mb-2" id="imageUrl" [(ngModel)]="imageUrl" name="imageUrl">
        <form>
          <div>
            <input class="btn btn-outline-primary" type="file" name="profile" (change)="onFileSelect($event)" />
          </div>
          <div>
            <button type="submit" class="btn btn-outline-primary">Upload</button>
          </div>
        </form>
    </div>
    <div class="card-footer">
        <a class="btn btn-block btn-raised btn-secondary">Cancel</a>
    </div>
  </div>
  