.bi-hand-thumbs-up-fill,.bi-hand-thumbs-up{
    color:#2ecc71
}
.bi-hand-thumbs-down-fill,.bi-hand-thumbs-down{
    color:#d63031
}
.likesPreview,.dislikesPreview{
    font-family: Okra,Arial,sans-serif!important;
    font-size: 14px!important;
}