<nav class="navbar sticky-top navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <a routerLink="/home" class="navbar-brand">
        <img src="assets/img/Logo.jpg" width="35" height="35" alt="">
        {{websiteName}}
    </a>
    
    <div class="collapse navbar-collapse navbar-nav">
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/home">Home</a>
        <a class="nav-item nav-link" *appIsAuthorized routerLinkActive="active" routerLink="/newblog">Subscriptions</a>
        <a class="nav-item nav-link" *appIsAuthorized routerLinkActive="active" routerLink="/myblogs">My Blogs</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/restaurants">Restaurants</a>
    </div>
    <h6  *appIsAuthorized class="black-text">Welcome, {{currentUser}} </h6>
    <button  *appIsAuthorized class="btn btn-dark ml-3" id="lgbtn" (click)="logout()">Logout</button>
    <button *ngIf="!loggedIn" class="btn btn-outline-success ml-3" id="signinbtn" (click)="signIn()">Sign In</button>
</nav>
<router-outlet></router-outlet>
<footer class="social-footer">
    <div class="social-footer-left">
      <a style="text-decoration: none;" href="#"><img class="logo" width="30px" height="30px" src="/assets/img/Logo.jpg">        {{websiteName}}
      </a>
    </div>
    <div style="font-size: 14px;">
    Developed By <strong>Meet Bhanushali, Dev Chaurasia</strong> and <strong>Arvind Sridhar</strong>
    </div>
    <div class="social-footer-icons">
      <ul class="menu simple">
        <li><a target="_blank" rel="noopener noreferrer" id="rssIcon" href="http://localhost:3000/feeds/rss"><i class="bi bi-rss-fill"></i></a></li>
      </ul>
    </div>
  </footer>
  
  