<div class="card mx-auto" style="width: 600px">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card-body">
      <h3>Try something new?</h3>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          appTitleCase
          formControlName="title"
        />
      </div>
      <div class="form-group">
        <label for="subtitle">Subtitle</label>
        <input
          type="text"
          class="form-control"
          id="subtitle"
          formControlName="subtitle"
        />
      </div>
      <div class="form-group">
        <label for="summary">Summary</label>
        <textarea
          class="form-control md-textarea-auto"
          id="summary"
          formControlName="summary"
          rows="3"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          class="form-control md-textarea-auto"
          id="description"
          formControlName="description"
          name="description"
          rows="10"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image File</label>
        <br>
        <img height="200px" style="display:block; margin-left: auto; margin-right: auto;" [src]="imageData" [alt]="form.value.name" />
        <br>
        <input
          class="btn btn-outline-primary"
          type="file"
          (change)="onFileSelect($event)"
        />
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-block btn-raised btn-success">Post</button>
      <!-- <a (click)="clear()" class="btn btn-block btn-raised btn-secondary">Clear</a> -->
    </div>
  </form>
</div>
