<div class="card-body">
  <!-- <img > -->
  <div class='alert alert-danger' *ngIf="invalidLogin">
    Invalid Email or password
  </div>
  <form #f="ngForm" (ngSubmit)="submit(f.value)">
    <div class="form-group">
      <label for="email">Email address</label>
      <input 
      required 
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
      ngModel 
      #email="ngModel" (change)="log(email)"
      type="email" class="form-control" 
      name="email" id="email" 
      placeholder="Enter your email">
      <div class='alert alert-danger' *ngIf="email.touched && email.invalid">
        <div *ngIf="email.errors?.required">
          Email address is required.
        </div>
        <div *ngIf="email.errors?.pattern">
          Email address is invalid.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="Password">Password</label>
      <input 
      required minlength="7" maxlength="16"
      ngModel 
      #password="ngModel" 
      type="password" class="form-control" 
      name="password" id="password" 
      placeholder="Enter your password">
      <div class='alert alert-danger' *ngIf="password.touched && password.invalid">
        <div *ngIf="password.errors?.required">
          Password is required.
        </div>
        <div *ngIf="password.errors?.minlength">
          Password should be of minimum length {{ password.errors?.minlength.requiredLength }}.
        </div>  
      </div>
    </div>
    <button class="btn btn-primary" [disabled]="f.invalid">Login</button>
  </form>
</div>